.apiSection{
    background-attachment: fixed;
}

.cardsEstilo{
    background-color: red;
}

.cardImg{
    background-color: aliceblue;
}

.infoApi{
    background-color: aliceblue;
}

.descTitle{
    background-color: aliceblue;
}