.navLink {
    padding: 10px;
    color: #f8d14f !important;
    font-size: 15px;
    transition: all 0.3s ease;
    font-family: "Cascadia Code", sans-serif;
}

.navLink:hover {
    color: #c96800 !important;
    transform: translateY(-2px);
    background-color: rgba(125, 103, 46, 0.1);
    border-radius: 4px;
}